DeMarker_Indi_DeMarker_Period={{ (period | default(0) | int) }}
DeMarker_Indi_DeMarker_Shift,1=0
DeMarker_Indi_DeMarker_Shift,2=1
DeMarker_Indi_DeMarker_Shift,3=4
DeMarker_Indi_DeMarker_Shift,F=1
DeMarker_Indi_DeMarker_Shift={{ (shift | default(0) | int) }}
DeMarker_LotSize={{ lot_size | default(0) }}
DeMarker_PriceStopMethod=0
DeMarker_SignalOpenFilterMethod=1
DeMarker_SignalOpenLevel={{ signal_open_level | default(0) | float }}
DeMarker_TickFilterMethod=1
