WPR_Indi_WPR_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
WPR_Indi_WPR_MA_Method={{ ma_method | default(0) }}
WPR_Indi_WPR_Period={{ (period | default(0) | int) }}
WPR_Indi_WPR_Shift={{ shift | default(0) }}
WPR_LotSize={{ lot_size | default(0) }}
WPR_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
WPR_PriceStopMethod={{ price_stop_method | default(0) }}
WPR_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
WPR_SignalCloseMethod={{ signal_close_method | default(0) }}
WPR_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
WPR_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
WPR_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
WPR_SignalOpenMethod={{ signal_open_method | default(0) }}
WPR_TickFilterMethod,1=1
WPR_TickFilterMethod,2=1
WPR_TickFilterMethod,3=8
WPR_TickFilterMethod,F=1
WPR_TickFilterMethod={{ tick_filter_method | default(1) }}
