DEMA_Indi_DEMA_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
DEMA_Indi_DEMA_MA_Shift={{ ma_shift | default(0) }}
DEMA_Indi_DEMA_Period={{ (period | default(0) | int) }}
DEMA_Indi_DEMA_Shift,1=0
DEMA_Indi_DEMA_Shift,2=1
DEMA_Indi_DEMA_Shift,3=4
DEMA_Indi_DEMA_Shift,F=1
DEMA_Indi_DEMA_Shift={{ (shift | default(0) | int) }}
DEMA_LotSize={{ lot_size | default(0) }}
DEMA_PriceStopMethod=0
DEMA_SignalOpenFilterMethod=1
DEMA_SignalOpenLevel={{ signal_open_level | default(0) | float }}
DEMA_TickFilterMethod=1
