Bands_Indi_Bands_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Bands_Indi_Bands_Deviation={{ (deviation | default(0) | float) }}
Bands_Indi_Bands_Deviation={{ deviation | default(0) }}
Bands_Indi_Bands_HShift={{ bshift | default(0) }}
Bands_Indi_Bands_MA_Method={{ ma_method | default(0) }}
Bands_Indi_Bands_Period={{ (period | default(0) | int) }}
Bands_Indi_Bands_Shift={{ (shift | default(0) | int) }}
Bands_LotSize={{ lot_size | default(0) }}
Bands_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
Bands_PriceStopMethod={{ price_stop_method | default(0) }}
Bands_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
Bands_SignalCloseMethod={{ signal_close_method | default(0) }}
Bands_SignalOpenBoostMethod,1=1
Bands_SignalOpenBoostMethod,2=1
Bands_SignalOpenBoostMethod,3=8
Bands_SignalOpenBoostMethod,F=1
Bands_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
Bands_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
Bands_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Bands_SignalOpenMethod={{ signal_open_method | default(0) }}
Bands_TickFilterMethod={{ tick_filter_method | default(1) }}
