RVI_Indi_RVI_Period={{ (period | default(0) | int) }}
RVI_Indi_RVI_Shift,1=0
RVI_Indi_RVI_Shift,2=1
RVI_Indi_RVI_Shift,3=4
RVI_Indi_RVI_Shift,F=1
RVI_Indi_RVI_Shift={{ (shift | default(0) | int) }}
RVI_LotSize={{ lot_size | default(0) }}
RVI_PriceStopMethod=0
RVI_SignalOpenFilterMethod=1
RVI_SignalOpenLevel={{ signal_open_level | default(0) | float }}
RVI_TickFilterMethod=1
