AC_Indi_AC_MA_Method={{ ma_method | default(0) }}
AC_Indi_AC_Shift={{ (shift | default(0) | int) }}
AC_LotSize={{ lot_size | default(0) }}
AC_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
AC_PriceStopMethod={{ price_stop_method | default(0) }}
AC_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
AC_SignalCloseMethod,1=1
AC_SignalCloseMethod,2=1
AC_SignalCloseMethod,3=4
AC_SignalCloseMethod,F=1
AC_SignalCloseMethod={{ signal_close_method | default(0) }}
AC_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
AC_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
AC_SignalOpenLevel={{ signal_open_level | default(0) | float }}
AC_SignalOpenMethod={{ signal_open_method | default(0) }}
AC_TickFilterMethod={{ tick_filter_method | default(1) }}
