SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_MA_Method={{ ma_method | default(0) }}
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Period={{ (period | default(0) | int) }}
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Shift={{ shift | default(0) }}
SVE_Bollinger_Bands_LotSize={{ lot_size | default(0) }}
SVE_Bollinger_Bands_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
SVE_Bollinger_Bands_PriceStopMethod={{ price_stop_method | default(0) }}
SVE_Bollinger_Bands_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
SVE_Bollinger_Bands_SignalCloseMethod={{ signal_close_method | default(0) }}
SVE_Bollinger_Bands_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
SVE_Bollinger_Bands_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
SVE_Bollinger_Bands_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
SVE_Bollinger_Bands_SignalOpenMethod={{ signal_open_method | default(0) }}
SVE_Bollinger_Bands_TickFilterMethod,1=1
SVE_Bollinger_Bands_TickFilterMethod,2=1
SVE_Bollinger_Bands_TickFilterMethod,3=8
SVE_Bollinger_Bands_TickFilterMethod,F=1
SVE_Bollinger_Bands_TickFilterMethod={{ tick_filter_method | default(1) }}
