WPR_Indi_WPR_Period,1={{ [((period | default(2) | int) - 4), 2] | max }}
WPR_Indi_WPR_Period,2=2
WPR_Indi_WPR_Period,3={{ (period | default(0) | int) + 4 }}
WPR_Indi_WPR_Period,F=1
WPR_Indi_WPR_Period={{ (period | default(0) | int) }}
WPR_Indi_WPR_Shift={{ (shift | default(0) | int) }}
WPR_LotSize={{ lot_size | default(0) }}
WPR_PriceStopMethod=0
WPR_SignalOpenFilterMethod=1
WPR_SignalOpenLevel={{ signal_open_level | default(0) | float }}
WPR_TickFilterMethod=1
