Awesome_Indi_Awesome_Shift={{ (shift | default(0) | int) }}
Awesome_LotSize={{ lot_size | default(0) }}
Awesome_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
Awesome_PriceStopMethod={{ price_stop_method | default(0) }}
Awesome_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
Awesome_SignalCloseMethod={{ signal_close_method | default(0) }}
Awesome_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
Awesome_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
Awesome_SignalOpenLevel,1={{ ((signal_open_level | default(0) | replace("(float)", "") | float) - 20) | abs }}
Awesome_SignalOpenLevel,2=5
Awesome_SignalOpenLevel,3={{ (signal_open_level | default(0) | replace("(float)", "") | float) + 20 }}
Awesome_SignalOpenLevel,F=1
Awesome_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Awesome_SignalOpenMethod={{ signal_open_method | default(0) }}
Awesome_TickFilterMethod={{ tick_filter_method | default(1) }}
