Gator_Indi_Gator_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Gator_Indi_Gator_MA_Method={{ ma_method | default(0) }}
Gator_Indi_Gator_Period_Jaw={{ jaw_period | default(0) }}
Gator_Indi_Gator_Period_Lips={{ teeth_period | default(0) }}
Gator_Indi_Gator_Period_Teeth={{ teeth_period | default(0) }}
Gator_Indi_Gator_Shift={{ (shift | default(0) | int) }}
Gator_Indi_Gator_Shift_Jaw={{ jaw_shift | default(0) }}
Gator_Indi_Gator_Shift_Lips={{ lips_shift | default(0) }}
Gator_Indi_Gator_Shift_Teeth={{ teeth_shift | default(0) }}
Gator_LotSize={{ lot_size | default(0) }}
Gator_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
Gator_PriceStopMethod={{ price_stop_method | default(0) }}
Gator_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
Gator_SignalCloseMethod={{ signal_close_method | default(0) }}
Gator_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
Gator_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
Gator_SignalOpenLevel,1=0
Gator_SignalOpenLevel,2=1
Gator_SignalOpenLevel,3=10
Gator_SignalOpenLevel,F=1
Gator_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Gator_SignalOpenMethod={{ signal_open_method | default(0) }}
Gator_TickFilterMethod={{ tick_filter_method | default(1) }}
