Gator_Indi_Gator_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
Gator_Indi_Gator_MA_Method={{ ma_method | default(0) }}
Gator_Indi_Gator_Period_Jaw={{ jaw_period | default(0) }}
Gator_Indi_Gator_Period_Lips,1={{ [(lips_period | default(0) | int) - 4, 2] | max }}
Gator_Indi_Gator_Period_Lips,2=1
Gator_Indi_Gator_Period_Lips,3={{ (lips_period | default(0) | int) + 4 }}
Gator_Indi_Gator_Period_Lips,F=1
Gator_Indi_Gator_Period_Lips={{ lips_period | default(0) }}
Gator_Indi_Gator_Period_Teeth={{ teeth_period | default(0) }}
Gator_Indi_Gator_Shift={{ (shift | default(0) | int) }}
Gator_Indi_Gator_Shift_Jaw={{ jaw_shift | default(0) }}
Gator_Indi_Gator_Shift_Lips={{ lips_shift | default(0) }}
Gator_Indi_Gator_Shift_Teeth={{ teeth_shift | default(0) }}
Gator_LotSize={{ lot_size | default(0) }}
Gator_PriceStopMethod=0
Gator_SignalOpenFilterMethod=1
Gator_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Gator_TickFilterMethod=1
