SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Shift,1=0
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Shift,2=1
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Shift,3=4
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Shift,F=1
SVE_Bollinger_Bands_Indi_SVE_Bollinger_Bands_Shift={{ (shift | default(0) | int) }}
SVE_Bollinger_Bands_SignalOpenFilterMethod=1
SVE_Bollinger_Bands_TickFilterMethod=1
SVE_SignalOpenLevel={{ signal_open_level | default(0) | float }}
