Ichimoku_Indi_Ichimoku_Period_Kijun_Sen={{ (kijun_sen | default(0) | int) }}
Ichimoku_Indi_Ichimoku_Period_Senkou_Span_B={{ (senkou_span_b | default(0) | int) }}
Ichimoku_Indi_Ichimoku_Period_Tenkan_Sen={{ (tenkan_sen | default(0) | int) }}
Ichimoku_Indi_Ichimoku_Shift,1=0
Ichimoku_Indi_Ichimoku_Shift,2=1
Ichimoku_Indi_Ichimoku_Shift,3=4
Ichimoku_Indi_Ichimoku_Shift,F=1
Ichimoku_Indi_Ichimoku_Shift={{ (shift | default(0) | int) }}
Ichimoku_LotSize={{ lot_size | default(0) }}
Ichimoku_PriceStopMethod=0
Ichimoku_SignalOpenFilterMethod=1
Ichimoku_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Ichimoku_TickFilterMethod=1
