Ichimoku_Indi_Ichimoku_Period_Kijun_Sen={{ (kijun_sen | default(0) | int) }}
Ichimoku_Indi_Ichimoku_Period_Senkou_Span_B,1={{ (senkou_span_b | default(0) | int) - 10 }}
Ichimoku_Indi_Ichimoku_Period_Senkou_Span_B,2=4
Ichimoku_Indi_Ichimoku_Period_Senkou_Span_B,3={{ (senkou_span_b | default(0) | int) + 10 }}
Ichimoku_Indi_Ichimoku_Period_Senkou_Span_B,F=1
Ichimoku_Indi_Ichimoku_Period_Senkou_Span_B={{ (senkou_span_b | default(0) | int) }}
Ichimoku_Indi_Ichimoku_Period_Tenkan_Sen={{ (tenkan_sen | default(0) | int) }}
Ichimoku_Indi_Ichimoku_Shift={{ (shift | default(0) | int) }}
Ichimoku_LotSize={{ lot_size | default(0) }}
Ichimoku_PriceStopMethod=0
Ichimoku_SignalOpenFilterMethod=1
Ichimoku_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Ichimoku_TickFilterMethod=1
