OsMA_Indi_OsMA_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
OsMA_Indi_OsMA_Period_Fast={{ (ema_fast_period | default(0) | int) }}
OsMA_Indi_OsMA_Period_Signal={{ (signal_period | default(0) | int) }}
OsMA_Indi_OsMA_Period_Slow,1={{ [((ema_slow_period | default(0) | int) - 12), 2] | max }}
OsMA_Indi_OsMA_Period_Slow,2=4
OsMA_Indi_OsMA_Period_Slow,3={{ (ema_slow_period | default(0) | int) + 12 }}
OsMA_Indi_OsMA_Period_Slow,F=1
OsMA_Indi_OsMA_Period_Slow={{ (ema_slow_period | default(0) | int) }}
OsMA_Indi_OsMA_Shift={{ (shift | default(0) | int) }}
OsMA_LotSize={{ lot_size | default(0) }}
OsMA_SignalOpenFilterMethod=1
OsMA_SignalOpenLevel={{ signal_open_level | default(0) | float }}
OsMA_TickFilterMethod=1
