BWMFI_Indi_BWMFI_Shift,1=0
BWMFI_Indi_BWMFI_Shift,2=1
BWMFI_Indi_BWMFI_Shift,3=4
BWMFI_Indi_BWMFI_Shift,F=1
BWMFI_Indi_BWMFI_Shift={{ (shift | default(0) | int) }}
BWMFI_SignalOpenFilterMethod=1
BWMFI_SignalOpenLevel={{ signal_open_level | default(0) | float }}
BWMFI_TickFilterMethod=1
