CCI_Indi_CCI_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
CCI_Indi_CCI_Period,1={{ [((period | default(0) | int) - 10), 2] | max }}
CCI_Indi_CCI_Period,2=4
CCI_Indi_CCI_Period,3={{ (period | default(0) | int) + 10 }}
CCI_Indi_CCI_Period,F=1
CCI_Indi_CCI_Period={{ (period | default(0) | int) }}
CCI_Indi_CCI_Shift={{ (shift | default(0) | int) }}
CCI_LotSize={{ lot_size | default(0) }}
CCI_PriceStopMethod=0
CCI_SignalOpenFilterMethod=1
CCI_SignalOpenLevel={{ signal_open_level | default(0) | float }}
CCI_TickFilterMethod=1
