Stochastic_Indi_Stochastic_DPeriod={{ (dperiod | default(0) | int) }}
Stochastic_Indi_Stochastic_KPeriod={{ (kperiod | default(0) | int) }}
Stochastic_Indi_Stochastic_MA_Method,1=0
Stochastic_Indi_Stochastic_MA_Method,2=1
Stochastic_Indi_Stochastic_MA_Method,3=3
Stochastic_Indi_Stochastic_MA_Method,F=1
Stochastic_Indi_Stochastic_MA_Method={{ (ma_method | default(0) | int) }}
Stochastic_Indi_Stochastic_Price_Field={{ (price_field | default(0) | int) }}
Stochastic_Indi_Stochastic_Shift={{ (shift | default(0) | int) }}
Stochastic_Indi_Stochastic_Slowing={{ (slowing | default(0) | int) }}
Stochastic_LotSize={{ lot_size | default(0) }}
Stochastic_SignalOpenFilterMethod=1
Stochastic_SignalOpenLevel={{ signal_open_level | default(0) | float }}
Stochastic_TickFilterMethod=1
