StdDev_Indi_StdDev_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
StdDev_Indi_StdDev_MA_Method={{ ma_method | default(0) }}
StdDev_Indi_StdDev_MA_Period={{ (ma_period | default(0) | int) }}
StdDev_Indi_StdDev_MA_Shift={{ ma_shift | default(0) }}
StdDev_Indi_StdDev_Shift={{ (shift | default(0) | int) }}
StdDev_LotSize={{ lot_size | default(0) }}
StdDev_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
StdDev_PriceStopMethod={{ price_stop_method | default(0) }}
StdDev_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
StdDev_SignalCloseMethod={{ signal_close_method | default(0) }}
StdDev_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
StdDev_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
StdDev_SignalOpenLevel,1=0
StdDev_SignalOpenLevel,2=1
StdDev_SignalOpenLevel,3=10
StdDev_SignalOpenLevel,F=1
StdDev_SignalOpenLevel={{ signal_open_level | default(0) | float }}
StdDev_SignalOpenMethod={{ signal_open_method | default(0) }}
StdDev_TickFilterMethod={{ tick_filter_method | default(1) }}
