MACD_Indi_MACD_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
MACD_Indi_MACD_Period_Fast={{ (ema_fast_period | default(0) | int) }}
MACD_Indi_MACD_Period_Signal={{ (signal_period | default(0) | int) }}
MACD_Indi_MACD_Period_Slow={{ (ema_slow_period | default(0) | int) }}
MACD_Indi_MACD_Shift={{ shift | default(0) }}
MACD_LotSize={{ lot_size | default(0) }}
MACD_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
MACD_PriceStopMethod={{ price_stop_method | default(0) }}
MACD_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
MACD_SignalCloseMethod={{ signal_close_method | default(0) }}
MACD_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
MACD_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
MACD_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
MACD_SignalOpenMethod={{ signal_open_method | default(0) }}
MACD_TickFilterMethod,1=1
MACD_TickFilterMethod,2=1
MACD_TickFilterMethod,3=8
MACD_TickFilterMethod,F=1
MACD_TickFilterMethod={{ tick_filter_method | default(1) }}
